/* Общие стили для всех кнопок */
.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: #303f9f;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #283593;
  box-shadow: none;
}

.button:focus {
  outline: none;
}

/* Индивидуальные стили для кнопок */
.profile-button {
  background-color: #4caf50;
}

.profile-button:hover {
  background-color: #43a047;
}

.password-button {
  background-color: #f44336;
}

.password-button:hover {
  background-color: #e53935;
}

.wishlist-button {
  background-color: #ff9800;
}

.wishlist-button:hover {
  background-color: #fb8c00;
}

.reviews-button {
  background-color: #9c27b0;
}

.reviews-button:hover {
  background-color: #8e24aa;
}

.store-info-button {
  background-color: #03a9f4;
}

.store-info-button:hover {
  background-color: #039be5;
}
