.language-switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.language-switcher button {
  background-color: #e60023;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-switcher button:hover {
  background-color: #cc0020;
}

.language-switcher button.active {
  background-color: #333;
}
