/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f5f7;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center; /* Центрирует текст заголовка */
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  background: linear-gradient(45deg, #007aff, #00c6ff); /* Градиентный фон */
  -webkit-background-clip: text; /* Клип фона для текста */
  -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень текста */
  padding: 10px; /* Отступы вокруг текста */
  border-radius: 10px; /* Скругление углов */
  display: inline-block; /* Чтобы задать размер элемента */
}



a {
  text-decoration: none;
  color: inherit;
}

.card p.price {
  font-size: 1.5rem; /* Увеличьте размер шрифта */
  color: #007aff; /* Цвет, чтобы привлечь внимание */
  font-weight: bold; /* Сделайте текст жирным */
  margin: 10px 0; /* Добавьте отступы */
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-container {
  width: 100%; /* Задает ширину 100% */
  display: flex;
  justify-content: center; /* Центрирует содержимое по горизонтали */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует элементы по горизонтали */
  justify-content: center; /* Центрирует элементы по вертикали, если нужно */
  min-height: 100vh; /* Убедитесь, что контейнер занимает всю высоту */
}


.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  text-align: center;
}

.card img {
  width: 100%; /* Ширина 100% от контейнера */
  height: 200px; /* Фиксированная высота для всех изображений */
  object-fit: cover; /* Обрезка изображения для сохранения пропорций */
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #777;
}

.card button {
  background-color: #007aff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.card button:hover {
  background-color: #0056b3;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Стили для корзины */
.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007aff;
  color: white;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  
}

.cart p {
  margin-right: 10px;
  font-weight: bold;
}

.cart span {
  font-size: 1.2rem;
}

.cart:hover {
  background-color: #0056b3;
}

/* Стили для открытого состояния корзины */
.cart-details {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.cart-details h3 {
  margin-bottom: 20px;
}

.cart-details ul {
  list-style-type: none;
  padding: 0;
}

.cart-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-details li img {
  border-radius: 5px;
  margin-right: 10px;
}

.cart-details button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-details button:hover {
  background-color: #cc0000;
}
/* Стили для кнопок категорий */
.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-buttons button {
  background-color: #007aff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-buttons button:hover {
  background-color: #0056b3;
}

/* Стили для активной категории (можно добавить) */
.category-buttons .active {
  background-color: #0056b3;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Отступ снизу */
}

.search-input {
  width: 300px; /* Ширина поля */
  padding: 10px; /* Отступ внутри поля */
  border: 1px solid #ccc; /* Цвет границы */
  border-radius: 5px; /* Скругление углов */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  font-size: 1rem; /* Размер шрифта */
  transition: border-color 0.3s, box-shadow 0.3s; /* Плавный переход */
}

.search-input:focus {
  border-color: #007aff; /* Цвет границы при фокусе */
  box-shadow: 0 0 5px rgba(0, 122, 255, 0.5); /* Тень при фокусе */
  outline: none; /* Убираем обводку */
}
